 /* * {
    border: 1px solid black;
}   */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(191, 191, 191);
}

.homeimg {
    background-image: url("https://cache.marriott.com/marriottassets/marriott/BOMSA/bomsa-exterior-0023-hor-feat.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1180px:*");
    height: 85%;
    width: 100%;
    background-size: contain;
    overflow: hidden;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
    margin-bottom: 40px;
    margin-left: 800px;
}
.nav a {
    border: 1px solid white;
    padding: 3px 10px;
    text-decoration: underline grey;
    color: white;
}


.about {
    border: 1px solid white;
    border-radius: 10px;
    margin: 400px 25px;
    float: right;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0)
}
.about a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.about:hover  {
    transform: scale(1.25);
    transition: .65s;
}

.mainpage h1 {
    display: flex;
    justify-content: center;
}

.mainpage p {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.mainpage img {
    margin-left: 375px;
    border: 2px solid black;
    margin-bottom: 50px;
}

.mainpage h2 {
    text-decoration: underline;
}
.choices1 {
    display: flex;
    justify-content: space-evenly;
}

.option1 {
    width: 45%;
    margin-bottom: 60px;
}
.box1 {
    border: 2px solid black;
    padding: 10px 10px;
    background-color: white;
}

.option2 {
    width: 45%;
}
.box2 {
    border: 2px solid black;
    padding: 10px 10px;
    background-color: white;
}


.choices2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.option3 {
    width: 45%;
}
.box3 {
    border: 2px solid black;
    padding: 10px 10px;
    background-color: white;
}

.option4 {
    width: 45%;
}
.box4 {
    border: 2px solid black;
    padding: 10px 10px;
    background-color: white;
}

.btn {
    margin-left: 225px;
    padding: 10px 10px;
    background-color: navy;
}
.btn a {
    color: white;
    text-decoration: none;
}


/* id found in book1.html */
#backimg1 {
    background-image: url('https://cdn.vox-cdn.com/thumbor/8cGqvoAkDzYx6KYRMpHWhY3toHQ=/0x0:5000x2704/2570x1446/filters:focal(2100x952:2900x1752):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/65496671/The_Chairman_s_Bedroom.0.jpg');
    height: 90%;
    width: 100%;
    background-size: cover;
}

.pack {
    text-decoration: underline;
}


/* id found in book2.html */
#backimg2 {
    background-image: url('https://marriottnews.brightspotcdn.com/b6/56/7a4b52700b681c65c4e3269d9d73/jw-marriott-mumbai-guestroom.jpg');
    height: 90%;
    width: 100%;
    background-size: cover;
}


/* id found in book3.html */
#backimg3 {
    background-image: url('https://pix6.agoda.net/hotelImages/10664/-1/5bc72b161681634f885776b62d8d8a64.jpg?s=1024x768');
    height: 100%;
    width: 100%;
    background-size: cover;
}


/* id found in book4.html */
#backimg4 {
    background-image: url('https://cache.marriott.com/marriottassets/marriott/LAXJW/laxjw-room-0108-hor-wide.jpg?&interpolation=progressive-bilinear&downsize=1064px:*');
    height: 95%;
    width: 100%;
    background-size: cover;
}